<html>
  <head>
      <script src="node_modules/jquery/dist/jquery.min.js"></script>
      <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
      <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
<body>
<div class="container littlepadding overflow-auto">

            <h1 class="mt-4" style="text-align: center; color: darkgreen;">วิธีรับมือสภาพอากาศต่างๆ</h1>
            <p></p>
            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <i class="fa fa-sun-o"></i>
                      อากาศร้อน

                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      1.ดื่มน้ำเยอะๆ <br>
                      2.เปิดพัดลมหรือเครื่องปรับอากาศดับร้อน <br>
                      3.อาบน้ำคลายร้อน <br>
                      4.สวมใส่เสื้อผ้าบางๆ <br>
                      5.ทาครีมกันแดด <br>
                      6.หลีกเลี่ยงแสงแดด
                    </div>
                  </div>
                  <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                          <i class="fa fa-snowflake-o"></i>
                          อากาศหนาว
                      </h2>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        1.ออกกำลังกายเพื่อให้ร่างกายอบอุ่น <br>
                        2.หมั่นทำมือและเท้าให้อุ่นเสมอ <br>
                        3.อย่าอาบน้ำอุ่นจัด <br>
                        4.สวมเสื้อผ้าหนา <br>
                        5.ดื่มเครื่องดื่มที่ให้ความอบอุ่นแก่ร่างกาย  
                      </div>
                    </div>
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <i class="fa fa-tint"></i>
                            ฝนตก
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                          1.พกร่มกันฝน <br>
                          2.หลีกเลี่ยงไม่ให้โดนฝน <br> 
                          3.ระวังอุบัติเหตุอันเกิดจากฝน เช่น ลื่นล้ม <br>
                          4.เมื่อเปียกฝนควรรีบทำความสะอาดร่างกาย <br>
                          5.ไม่ควรเล่นน้ำฝน  
                        </div>
                      </div>
                </div>
              </div>
            
            
              
</div>
</body>

</html>