<html>
<div class="container littlepadding">
    <div class="row">
        <div class="col-lg-12 whitebg">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline" (ngSubmit)='searchID(id)' #searchForm='ngForm'>
                    <input class="form-control mr-sm-2" 
                    style="margin:auto;width: 520px;" 
                    type="search" 
                    placeholder="Search student ID" 
                    aria-label="Search" 
                    [(ngModel)]='id' 
                    #lo='ngModel' 
                    name='lo' 
                    required type='number'>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i> Search</button>
                </form>
            </nav>

            <app-student-details [student]='student'></app-student-details>
            <div *ngIf="foundID()">
                <app-current-weather [loc]= 'student.province'></app-current-weather>
            </div>
        </div>
    </div>

</div>

</html>