.background{
    background-color: #5F8C91
}
.squreBG{
    background-color: #34F3CD
}
.whitebg{
    background-color: white;
}
.col-12{
    padding-top: 12px;
}
.littlepadding{
    padding-top: 20px;
}
